<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= title %> - CAT </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/docs.css' />
		<style type="text/css">


			.form-signin {
				max-width: 300px;
				padding: 19px 29px 29px;
				margin: 0 auto 20px;
				background-color: #fff;
				border: 1px solid #e5e5e5;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
				-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
				box-shadow: 0 1px 2px rgba(0,0,0,.05);
			}
			.form-signin .form-signin-heading,
			.form-signin .checkbox {
				margin-bottom: 10px;
			}
			.form-signin input[type="text"],
			.form-signin input[type="password"] {
				font-size: 16px;
				height: auto;
				margin-bottom: 15px;
				padding: 7px 9px;
				}


			.catsubhead {
				margin-bottom: 36px;
			}
			.catsubhead {
				border-bottom: 1px solid #DDDDDD;
				text-align: left;
			}
			.catjumbotron {
				background: linear-gradient(45deg, #020031 0%, #6D3353 100%) repeat scroll 0 0 transparent;
				box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
				color: #FFFFFF;
				padding: 40px 0;
				position: relative;
				text-align: left;
				text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
			}



    </style>
		<link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="/javascripts/html5shiv.js"></script>
		<![endif]-->
  </head>
  <body>
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
				<div class="container-fluid">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
          <div class="nav-collapse collapse">
            <ul class="nav">
							<li class="active"><a href="/"><b>CAT</b></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="catjumbotron catsubhead">
	<div class="container-fluid"> 
		<div class="span8">
			<h1>欢迎光临 CAT</h1>
			<h1><span class="icon-bar"></span></h1>
			<h4>cat 是一个项目管理的社交平台<br>
			在cat上我们可以分享项目经验，共享项目资料，一起讨论需求和bug <br>
			让我们来玩玩工作</h4>
<% if (success) { %>
<div class="alert alert-success">
	<%= success %>
</div>
<% } %>
<% if (error) { %>
<div class="alert alert-error">
	<%= error %>
</div>
<% } %>


		</div>

	<div class="span4">

		<%- body %>
		</div>
	</div>
</div>


    <footer class="footer">
      <div class="container">
        <ul class="footer-links">
          <li><a href="#">outofforce</a></li>
          <li class="muted">&middot;</li>
          <li><a href="#">2013</a></li>
          <li class="muted">&middot;</li>
          <li><a href="#">Changelog</a></li>
        </ul>
      </div>
    </footer>


  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
<script type="text/javascript">
	function logwithLdap(obj) {
		alert("ww");
		$("#coverlogin").attr("action","/loginldap");
		$("#username").attr("placeholder","公司账户（不加域名）");
	}
	function logwithNormal() {
		$("#coverlogin").attr("action","/login");
		$("#username").attr("placeholder","用户名");
	}
	}
</script>


</html>
