<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">操作</li>
				<li><a href="/m/tnew_project">新建项目</a></li>
				<li><a href="/m/tproject">关注项目</a></li>
				<li class="nav-header">我的关注</li>
 <% mywatches.forEach(function(item, index) { %>
				<li><a onclick="javascript:setProjectName(this)">@<%= item.pname %></a></li>
 <% }) %>
			</ul>

</div>
