
<div class="span6">
<div class="page-header">
	<h1>新建项目</h1>
</div>
	<form class="form-horizontal" method="post" action="/new_project">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="project_name">项目名称</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="project_name" name="project_name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="project_desc">项目描述</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="project_desc" name="project_desc">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="project_open">是否公开</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="project_open" name="project_open">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="project_sp">创建者</label>
				<div class="controls">
					<input type="text" class="input-xlarge" disabled="true" id="project_sp" name="project_sp" value="<%= user.name %>">
				</div>
			</div>
			<hr>
			<div  align="center">
				<button type="submit" class="btn btn-primary">新建</button>
			</div>
		</fieldset>
	</form>
</div>
