       <section id="catTextInput">

					<form method="post" action="/find_projects" class="well form-inline center" style="text-align:center;">
						<input type="text" class="span5" name="find_projects">
						  <button type="submit" class="btn btn-success"> 查找项目 </button>
					</form>
          <div class="page-header">
          </div>

        </section>

					 <div class="span6">
<% projects.forEach(function(item, index) { %>

          <h4><%= item.pname %></h4>
					<p><span class="icon-bar"></span><%= item.desc %></p>
					<ul class="footer-links">
							<li><a href="#">评论</a></li>
							<li class="muted">&middot;</li>
							<li><a href="#">删除</a></li>
							<li class="muted">&middot;</li>
							<li><a href="/p/<%= item.pname %>">关注</a></li>
					</ul>
					<hr>

<% }) %>

			</div>

