			<form class="form-signin" method="post" action="/reg">
				<h2 class="form-signin-heading">注册</h2>
				<input type="text" class="input-block-level" placeholder="用户名" id="username" name="username" >
				<input type="password" class="input-block-level" placeholder="密码" id="password" name="password">
				<input type="password" class="input-block-level" placeholder="重复密码" id="password-repeat" name="password-repeat">
				<button class="btn btn-large btn-primary" type="submit">登录</button>
			</form>
