<div class="span12">
<form class="well form-inline center" method="post" enctype="multipart/form-data" action="/file-upload">
	<fieldset>
		<legend>上传图片</legend>
		<div class="control-group">
		<input type="file" class="file" name="image" id="uploadfilename">
		<button type="submit" class="btn btn-success">上传</button>
		</div>
	</fieldset>
</form>
</div>

